:root {
   --light-nav: #f5f8fe;
   --light-bar-clr: #59636d;
   --light-bg: #eef0f2;
   --light: #F9F9F9;
   --dark: #342E37;   
   --grey: #ececec;
   --shdw-bottom: #9aa0b9;
   --grad-shdw-1: rgba(187,187,187,1);
   --grad-shdw-2: rgba(253, 245, 245, 0);

   --sk-sidebar-divider-color: #6c757d;
   --sk-sidebar-divider-bg: #dee2e6;
   --bs-modal-clr: #000;
   --sidebar-scrl: #ececec;
   --c-text: #1b1f24;
   --c-select: #e4edfc;

   --mada: 'Mada-Regular', sans-serif;

   --c-block: #fff;
   --c-line: #e4edfc;
   --r3x: 12px;  
   --wh-scrollbar: 10px;  

    --sk-sidebar-bg-rgb: 25, 109, 148;
    --sk-sidebar-color-rgb: 76, 161, 172;
    --bs-light-rgb: 44, 96, 117; 
    --bs-konkon-rgb: 42, 155, 207;
}
body.dark {
   --light-nav: #2d2e33;
   --light-bar-clr: #FBFBFB;
   --light-bg: #252c28;
   --light: #363940;
   --dark: #FBFBFB;
   --grey: #010e03;
   --shdw-bottom: #214321;
   --grad-shdw-1: rgb(70, 70, 70);
   --grad-shdw-2: rgb(40 40 40 / 0%);

   --sk-sidebar-divider-color: #868686;
   --sk-sidebar-divider-bg: #545555;
   --bs-modal-clr: #fff;
   --sidebar-scrl: #363940;
   --c-text: #bcbfc6;
   --c-select: #595d66;

   --c-block: #363940;
   --c-line: #42454d;
}
*::-webkit-scrollbar {
   width: var(--wh-scrollbar)
}

*::-webkit-scrollbar-button,*::-webkit-scrollbar-corner,*::-webkit-resizer {
   display: none
}

*::-webkit-scrollbar:horizontal {
   height: var(--wh-scrollbar)
}

*::-webkit-scrollbar-track,*::-webkit-scrollbar:horizontal {
   background-color: var(--c-block)
}

*::-webkit-scrollbar-thumb,*::-webkit-scrollbar:horizontal {
   border-radius: var(--r3x);
   background-color: var(--c-line)
}
/* NAVHEADER */
body.bg-light {
   background-color: var(--light-bg) !important;
}
.card-shadow {    
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-shadow:hover {
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.card {
   background-color: var(--light);
   color: var(--dark);
}
.card-footer {
   /* #3b3838 */
   background-color: var(--light);   
}
.be-top-header {
   background-color: var(--light-nav);
   border-bottom: 1px solid var(--light-nav);
}
.be-offcanvas-menu .be-left-sidebar {
   background-color: var(--light-nav);
}
.be-left-sidebar .sidebar-elements > li > a {
   color: var(--light-bar-clr);
}
.be-left-sidebar .progress-widget:hover {
   background-color: var(--light-nav);
}
.be-left-sidebar .progress-widget .progress-data {
   color: var(--light-bar-clr);
}

.dropdown-menu {
   --bs-dropdown-color: var(--bs-modal-clr);
   --bs-dropdown-bg: var(--light-nav);
}
.be-user-nav > li.dropdown .dropdown-menu {
   border: 1px solid var(--light);
}
.be-user-nav .skk-nvl,.be-user-nav .skk-nva {
   /* border-top: 1px solid var(--sk-sidebar-divider-bg); */
   border-top: 1px solid var(--sk-sidebar-divider-color);
}
.be-user-nav .skk-nv-btn {
   border-top: 1px solid var(--sk-sidebar-divider-bg);
   border-bottom: 1px solid var(--sk-sidebar-divider-color);
}
.be-user-nav .skk-nvh-name,
.be-user-nav .skk-nvl > .skk-nvl-item .skk-nvli-label,
.be-user-nav .skk-nva-email, .be-user-nav .skk-nva-name,
.be-user-nav .skk-nva-email {
   color: var(--dark);
}
/* NAVHEADER */

@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
html {
      overflow: hidden;
}
/* SIDEBAR */
.text-bg-konkon {
      color: #fff !important;
      background-color: rgba(50, 117, 138, var(--bs-bg-opacity, 1)) !important;
}
.sidebar-header {   
   display: flex;
   align-items: flex-start;
   padding: 0 10px;
   transform: scale(.9);
}
.rotate-n-15 {
   transform: rotate(-15deg);
}
.flex-wrap-center {
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   width: 100%;
}
.center {
   text-align: center;
}
.sidebar-header {
   grid-gap: 8px;
}
.sidebar-header .applogo {
   font-size: 50px;
   line-height: 1;
   padding-top: 4px;
   color: var(--dark);
}
.sidebar-header h5 {
   font-size: 30px;
   margin: 0;
   color: var(--dark);
}
.sidebar-header p {
   margin: 0;
   font-size: 9px;
   letter-spacing: 4.5px;
   text-transform: uppercase;
   background: #34495e;
   font-weight: 400;
   color: #fff;
   width: max-content;
   opacity: 0.8;
   border-radius: 25px;
   padding: 3px 2px 5px 8px;
}
.sidebar-header .desclogo {
   line-height: 1;
   font-family: sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   letter-spacing: 2px;
}

.be-left-sidebar .sidebar-elements > li > a > .badge {
   margin: unset !important;
}
.be-top-header .be-navbar-header .navbar-brand {
   /* background-image: url("https://res.cloudinary.com/studiokonkon/image/upload/v1543962008/website/konkon-header-300x76-ova.png"); */
}
.be-color-header .be-top-header .be-navbar-header .navbar-brand {
   /* background-image: url("https://res.cloudinary.com/studiokonkon/image/upload/v1543962008/website/konkon-header-300x76-ova.png"); */
}
.be-left-sidebar, .left-sidebar-scroll {
   overscroll-behavior: contain !important;
}
/** Scrollbars Style **/
.left-sidebar-scroll {
   overflow-y: auto !important;
}
.left-sidebar-scroll::-webkit-scrollbar {
   display: block;
   width: 10px;
   height: 100%;
   transition: background-color 0.2s linear, opacity 0.2s linear;
   -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
   background-color: transparent;
}
.left-sidebar-scroll::-webkit-scrollbar-track-piece {
   background-color: var(--light-nav);
}
.left-sidebar-scroll::-webkit-scrollbar-thumb {
   background-color: var(--sidebar-scrl);
   background-clip: padding-box;
   border: solid 2px transparent;
   border-radius: 6px;
}
::-moz-selection {
   color: color-contrast(#aaa);
   background-color: #eee;
}
::selection {
   color: color-contrast(#aaa);
   background-color: #eee;
}
.skk-nb, .be-user-nav .dropdown-menu {
   overflow-y: auto !important;
}
.skk-nb::-webkit-scrollbar, .be-user-nav .dropdown-menu::-webkit-scrollbar {
   display: block;
   width: 10px;
   height: 100%;
   transition: background-color 0.2s linear, opacity 0.2s linear;
   -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
   background-color: transparent;
}
.skk-nb::-webkit-scrollbar-track-piece, .be-user-nav .dropdown-menu::-webkit-scrollbar-track-piece {
   background-color: #fff;
}
.skk-nb::-webkit-scrollbar-thumb, .be-user-nav .dropdown-menu::-webkit-scrollbar-thumb {
   background-color: #aaa;
   background-clip: padding-box;
   border: solid 2px transparent;
   border-radius: 6px;
}
.sidebar-elements li.open > ul {   
   position: relative;
   padding: 0 0 0 2.2rem;
   animation: flipInX 0.5s;
}
.sidebar-elements .parent.open ul:before {
   content: '';
   height: 100%;
   opacity: 1;
   width: 3px;
   background: rgba(var(--sk-sidebar-color-rgb), 1);
   position: absolute;
   left: 35px;
   top: 0;
   border-radius: 15px;
}
.be-left-sidebar .sidebar-elements li.parent > a:after {
   transition: transform 300ms;
}
.be-left-sidebar .sidebar-elements li.parent.open > a:after {
   transform: rotate(-180deg);
}
/* SIDEBAR */

@media (max-width:360px) {
  .sidebar-header {
      transform: translateX(-25px) scale(.7);
  }
}

/* DASHBOARD */
.homepage-header {
   height: 30vh;
   min-height: 250px;
   background-color: var(--skk-header-color);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
.shadow-sm {
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.homepage-header-content {
   backdrop-filter: brightness(var(--skk-header-brightness));
   height: inherit;
   min-height: inherit;
   padding-bottom: 37.5px;
}
.homepage-header-list {
   transform: translate(0, -55.5px);
}
/* DASHBOARD */

/* THEME TOGGLE */
:root,
.light {
      --clr-foreground: hsl(0 0% 0%);
      --clr-background: hsl(0 0% 100%);
}

.dark {
      --clr-foreground: hsl(0 0% 100%);
      --clr-background: hsl(0 0% 0%);
}

#theme-toggle {
      font-size: 2em;
      border-radius: 100vh;
      padding: 0.2em 0.5em;
      background: none;
      border: none;
      opacity: .5;
      cursor: pointer;
      position: relative;
      display: block;
      /*  margin: 1em auto 4em;*/
}

#theme-toggle::after {
      content: attr(aria-label);
      font-family: var(--mada);
      position: absolute;
      font-size: 0.8rem;
      display: block;
      top: 120%;
      left: 50%;
      width: max-content;
      padding: 0.375em 0.75em;
      color: var(--clr-background);
      background-color: var(--clr-foreground);
      transition: background-color 200ms linear;
      border-radius: 0.25em;
      opacity: 0;
      transform: scale(0) translateX(-50%);
      transform-origin: 0 0;
      transition: transform 0.2s, opacity 0.2s;
      pointer-events: none;
}

#theme-toggle:hover,
#theme-toggle:focus {
      background: hsl(0 0% 50% / 0.15);
      opacity: 1;
      outline: none;
}

#theme-toggle:hover::after {
      opacity: .7;
      transform: scale(1) translateX(-50%);
}

#theme-toggle:focus::after {
      opacity: .7;
      transform: scale(1) translateX(-50%);
}

#theme-toggle svg {
      display: block;
      fill: var(--clr-foreground);
      transition: fill 200ms linear;
      -webkit-animation: rotate 1.5s linear infinite;
      animation: rotate 1.5s linear infinite;
}
#theme-toggle svg:target {
      transform: matrix(0.90, 0, 0, 0.90, 0, 0);
}
.pressed {
      transform: matrix(0.90, 0, 0, 0.90, 0, 0);
}

#theme-toggle circle {
      transform: none;
      transform-origin: 50% 50%;
      transition: transform 0.5s;
}

.light-theme #theme-toggle circle {
      transform: translateX(-72px) scaleY(1.143);
}

#theme-toggle .ray-ring {
      transform-origin: center;
      transition: transform 0.6s;
}

.light-theme .ray-ring {
      transform: rotate(0);
}

.dark-theme .ray-ring {
      transform: rotate(0.5turn);
}
/* THEME TOGGLE */

/* MODAL & FORM */
.modal.left .modal-dialog,
.modal.right .modal-dialog {
      position: fixed;
      margin: auto;
      /* width: 320px; */
      height: 100%;
      -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
      -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
      height: 100%;
      overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
      padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
      left: -320px;
      -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
      -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
      -o-transition: opacity 0.3s linear, left 0.3s ease-out;
      transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
      left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
      right: -320px;
      -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
      -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
      -o-transition: opacity 0.3s linear, right 0.3s ease-out;
      transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
      right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
      border-radius: 0;
      border: none;
}

.modal-header {
      border-bottom-color: #EEEEEE;
      background-color: #FAFAFA;
      border-radius: 0;
}

.modal .modal-dialog-slideout .modal-header {
      height: 50px;
      background: linear-gradient(40deg, #52f111, #007001b1) !important;
      color: azure;
      border-bottom: 1px solid var(--green);
      padding: 0.8rem;
}

.modal .modal-dialog-slideout .modal-slide-title {
      display: flex;
      grid-gap: 10px;
      line-height: 1.2;
      align-items: center;
}

.modal .modal-dialog-slideout .modal-content {
      background: var(--light);
      overflow-y: visible;
      color: var(--bs-modal-clr);
}

.modal .modal-dialog-slideout .modal-body {
      overflow-y: auto;
}

.modal .modal-dialog-slideout .modal-content .modal-footer {
      box-shadow: rgb(50 11 25 / 50%) 0 25px 70px 4px;
      /* background: linear-gradient(to left, var(--grad-shdw-2) 95%,var(--grad-shdw-1) 100%); */
      background: linear-gradient(0deg, var(--grad-shdw-1), var(--grad-shdw-2), var(--grad-shdw-2));
}

.modal .modal-dialog-slideout .modal-footer {
      border-radius: 0;
}

.modal .modal-footer {
      border-radius: 0 0 15px 15px;
}

.modal .modal-footer {
      width: 100%;
      height: 56px;
      padding: 4px 6px;
      text-align: right;
      /* background-color: #fafafa; */
      background-color: var(--light);
      justify-content: center;
      border-top: 1px solid var(--light);
}

.submit-section-slide {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
}

.indicator {
      position: absolute;
      bottom: 39px;
      width: 180px;
      height: 20px;
      background: var(--light);
      border-radius: 35px 35px 15px 15px;
      z-index: 1;
      transition: 0.5s;
      box-shadow: rgb(50 11 25 / 25%) 0 25px 70px 4px;
}

.modal .modal-footer .btn-custom {
      font-size: 12px;
      padding: 12px 20px;
      letter-spacing: 1.7px;
      text-transform: uppercase;
      border-radius: 2px;
      outline: none;
      -webkit-transition: 0.15s linear;
      transition: 0.15s linear;
      width: 123px;
      margin: 0;
}

.modal .modal-footer .btn-custom:nth-child(1) {
      border-radius: 20px 0 0 20px;
}

.modal .modal-footer .btn-custom:nth-child(2) {
      border-radius: 0 20px 20px 0;
}

/* FORM */
.form-dark-light,
.form-dark-light:disabled,
.form-dark-light[readonly] {
      background: var(--c-select);
      border-color: var(--c-select);
}

.form-dark-light:focus {
      color: var(--c-text);
      border-color: var(--c-text);
      background-color: var(--c-select);
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.33);
}

.form-control {
      color: var(--c-text);
}

select.form-control.form-dark-light[multiple] {
      height: auto;
      background: var(--c-select);
      color: var(--c-select);
}

.custom-select,
.custom-select:disabled {
      appearance: none;
      background-image: url('https://dl.dropbox.com/s/6q2p49jczkvy2n1/arrows-bg.svg');
      background-position: calc(100% - 14px) -32px, 100%, calc(100% - 32px) 0;
      background-size: auto, 34px 100%, 1px 100%;
      background-repeat: no-repeat;
}

.custom-select:focus {
      background-image: url('https://dl.dropbox.com/s/6q2p49jczkvy2n1/arrows-bg.svg');
      background-position: calc(100% - 14px) 12px, 100%, calc(100% - 34px) 0;
}

.custom-file-label {
      background: var(--grey);
      color: var(--dark);
}

.form-control.form-control-border,
.custom-select.form-control-border {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      box-shadow: inherit;
}

.form-control.form-control-border.border-width-2,
.custom-select.form-control-border.border-width-2 {
      border-bottom-width: 2px;
}

.form-control.form-control-border.border-width-3,
.custom-select.form-control-border.border-width-3 {
      border-bottom-width: 3px;
}

.form-control.is-warning {
      border-color: #ffc107;
}

.custom-control-input-danger:checked~.custom-control-label::before {
      border-color: #dc3545;
      background-color: #dc3545;
}

.custom-switch.custom-switch-off-danger .custom-control-input~.custom-control-label::before {
      background-color: #dc3545;
      border-color: #921925;
}

.custom-switch.custom-switch-off-danger .custom-control-input~.custom-control-label::after {
      background-color: #7c151f;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active,
.selectize-input,
.selectize-input.full,
.selectize-control.single .selectize-input,
.selectize-control.multi .selectize-input,
.selectize-control.multi .selectize-input.focus .item.active {
      background: var(--c-select);
      border-color: var(--c-select);
      color: var(--dark-f-dark);
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.multi .selectize-input.focus {
      border-color: var(--derift-thm-bg);
      box-shadow: var(--derift-thm-shdw);
}

.selectize-dropdown,
.selectize-dropdown.form-control {
      background: var(--c-select);
      color: var(--dark-f-dark);
      border-radius: 0 0 10px 10px;
}

.selectize-dropdown [data-selectable].option.active {
      background: var(--derift-thm-bg);
      color: #fff;
}

.selectize-control.multi .selectize-input>div {
      background: var(--light);
      color: var(--dark);
}

.selectize-control.plugin-remove_button [data-value] .remove {
      position: inherit;
}

/* PHOTOINPUT */
.profile-photo-div {
      position: relative;
      margin: 0 auto 10px;
      /* width: 250px; */
      max-width: 150px;
      height: auto;
      overflow: hidden;
      border-radius: 10px;
      -webkit-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s;
}

.profile-img-div {
      display: block;
      position: relative;
      overflow: hidden;
      min-height: 150px;
}

.profile-photo-div #ploader {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #00cccf;
      z-index: 10;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
}

.profile-photo-div #profile-img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
}

.profile-photo-div #change-photo {
      display: none;
}

.profile-buttons-div {
      position: relative;
      display: block;
}

.profile-photo-div .button {
      position: relative;
      display: block;
      font-family: helvetica, sans-serif;
      font-size: 15px;
      padding: 15px;
      text-align: center;
      color: white;
      /* background-color: #00cccf; */
      background-color: #4ec231;
      cursor: pointer;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.profile-photo-div .button:hover {
      letter-spacing: 0.5px;
}

.profile-photo-div .button:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      opacity: 0;
      -webkit-transition: 0.9s;
      -o-transition: 0.9s;
      transition: 0.9s;
}

.profile-photo-div .button:hover:after {
      -webkit-transform: scale(50);
      -ms-transform: scale(50);
      transform: scale(50);
      opacity: 1;
}

#change-photo-label {
      border-radius: 0 0 50% 50%;
}

.profile-photo-div .button.half {
      width: 50%;
}

.profile-photo-div .green {
      background-color: #15ae6b;
}

.profile-photo-div .red {
      background-color: #ae0000;
}

.profile-img-confirm {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
}

.help-text {
      margin-top: 5px;
      font-size: 12px;
      color: #7e7e7e;
      border-radius: 36px;
      padding: 5px;
}

.tab-menu {
      margin: 0;
      padding: 0;
}

.tab-menu li {
      list-style-type: none;
      display: inline-block;
}

.tab-menu li.active>a {
      border-color: #cfcfcf #cfcfcf transparent #cfcfcf;
      background: var(--light);
      color: var(--dark);
      border-radius: 12px 12px 0 0;
}

.tab-menu li a {
      display: block;
      color: var(--dark);
      border-style: solid;
      border-width: 2px;
      border-color: #cfcfcf;
      background: var(--light);
      padding: 4px 15px;
      position: relative;
      top: 2px;
      margin-right: 10px;
      text-decoration: none;
      cursor: pointer;
}

.wrapper__personal {
      border-top: 2px solid #cfcfcf;
      height: auto;
      /* padding: 2rem 0; */
      margin-left: 0;
      margin-right: 0;
}

.wrapper__account--top {
      /* padding: 2rem 0 0; */
      margin-left: 0;
      margin-right: 0;
}
/* MODAL & FORM */

/* HAMBURGER */
.hamburger {
   padding: 0;
   display: inline-block;
   cursor: pointer;
   transition-property: opacity,filter;
   transition-duration: .15s;
   transition-timing-function: linear;
   font: inherit;
   color: inherit;
   text-transform: none;
   background-color: transparent;
   border: 0;
   margin: 0;
   overflow: visible
}

.hamburger:hover {
   opacity: .7
}

.hamburger.is-active:hover {
   opacity: .7
}

.hamburger.is-active .hamburger-inner,.hamburger.is-active .hamburger-inner::before,.hamburger.is-active .hamburger-inner::after {
   background-color: #dc3545;
}

.hamburger-box {
   width: 24px;
   height: 13px;
   display: inline-block;
   position: relative;
   transform: scale(1.2);
}

.hamburger-inner {
   display: block;
   top: 50%;
   margin-top: -1px
}

.hamburger-inner,.hamburger-inner::before,.hamburger-inner::after {
   width: 24px;
   height: 2px;
   background-color: var(--dark);
   border-radius: 10px;
   position: absolute;
   transition-property: transform;
   transition-duration: .15s;
   transition-timing-function: ease
}

.hamburger-inner::before,.hamburger-inner::after {
   content: "";
   display: block
}

.hamburger-inner::before {
   top: -6px
}

.hamburger-inner::after {
   bottom: -6px
}

.hamburger--elastic .hamburger-inner {
   top: 1px;
   transition-duration: .275s;
   transition-timing-function: cubic-bezier(.68,-.55,.265,1.55)
}

.hamburger--elastic .hamburger-inner::before {
   top: 6px;
   transition: opacity .125s .275s ease
}

.hamburger--elastic .hamburger-inner::after {
   top: 12px;
   transition: transform .275s cubic-bezier(.68,-.55,.265,1.55)
}

.hamburger--elastic.is-active .hamburger-inner {
   transform: translate3d(0,6px,0) rotate(135deg);
   transition-delay: .075s
}

.hamburger--elastic.is-active .hamburger-inner::before {
   transition-delay: 0s;
   opacity: 0
}

.hamburger--elastic.is-active .hamburger-inner::after {
   transform: translate3d(0,-12px,0) rotate(-270deg);
   transition-delay: .075s
}
/* HAMBURGER */

/* OTHER */
.skk-blossom {
   --skk-size: 10rem;
   --skk-position: 2.5rem;
   --skk-left-top: calc(0% +(-1 * var(--skk-position))) calc(100% +(-1 * var(--skk-position)));
   --skk-left-bottom: calc(0% +(-1 * var(--skk-position))) calc(100% + var(--skk-position));
   --skk-right-top: calc(100% + var(--skk-position)) calc(100% +(-1 * var(--skk-position)));
   --skk-right-bottom: calc(100% + var(--skk-position)) calc(100% + var(--skk-position));
   /* background-image: url("/images/svg/blossom-konkon.svg"); */
   background-repeat: no-repeat;
   background-size: var(--skk-size);
   background-position: var(--skk-right-bottom);
}
/* .skk-blossom-w {
   background-image: url("/images/svg/blossom-konkon-w.svg");
}
.skk-blossom-b {
   background-image: url("/images/svg/blossom-konkon-b.svg");
} */
.b-example-divider {
   height: 1rem;
   background-color: rgba(0, 0, 0, .1);
   border: solid rgba(0, 0, 0, .15);
   border-width: 1px 0;
   box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}
.text-truncate {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #3fd402;
}
.cursor-dot-outline {
    width: 40px;
    height: 40px;
    background-color: rgb(128 229 131 / 50%);
}

/* STATUS ONLINE */
.status { padding: 3px 0px; display: inline-block; }
.status:before {
  content:'';
  width: 12px;
  height: 12px;
  border-radius:50%;
  display:inline-block;
  margin-right: 5px;
}
.status.Online:before {
  content:'';
  background-color: green;
}
.status.Away:before {
  content:'';
  background-color: orange;
}
/* STATUS ONLINE */

/* LOADER */
    .preloader-wrap {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0; 
      bottom: 0;
      background: rgba(0,0,0,1);
      /* background: rgb(0 0 0 / 0%); */
      z-index : 2024; 
    }
    
    .percentage {
        z-index: 100;
        border: 1px solid #ccc;
        text-align: center;
        color: var(--dark);
        line-height: 26px;
        font-size: 20px;
    }
    
    .loader,
    .percentage{
        height: 30px;
        max-width: 265px;
        border: 2px solid #69AF23;
        border-radius: 20px;
        font-weight: 900;
        position: absolute;
        /* top: -5px; */
        bottom: 60px;
        left: 0;
        right: 0;
        margin: auto;
        transform: scale(.5);
        opacity: .5;
    }
    .loader:after,
    .percentage:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .trackbar {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      /* border-radius: 0 0 20px 20px; */
      color: #fff;
      text-align: center;
      line-height: 30px;
      overflow: hidden;
      position: relative;
      opacity: 0.99;
    }
    
    .loadbar {
      width: 0%;
      height: 100%;
      background: repeating-linear-gradient(
      45deg, 
        #008737, 
        #008737 10px, 
        #69AF23 10px,
        #69AF23 20px
      ); /* Stripes Background Gradient */
      box-shadow: 0px 0px 14px 1px #008737; 
      position: absolute;
      top: 0;
      left: 0;
      animation: flicker 5s infinite;
      overflow: hidden;
    }
    
    .glow {
      width: 0%;
      height: 0%;
      border-radius: 20px;
      box-shadow: 0px 0px 60px 10px #008737;
      position: absolute;
      bottom: -5px;
      animation: animation 5s infinite;
    }
    
    @keyframes animation {
      10% {
        opacity: 0.9;
      }
      30% {
        opacity: 0.86;
      }
      60% {
        opacity: 0.8;
      }
      80% {
        opacity: 0.75;
      }
    }


/* Loaded */
.loading-text {
    position: absolute;
    display: block;
    bottom: 80px;
    color: #404455;
    font-family: sans-serif;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}
.letter {
    position: relative;
    top: -webkit-calc(50% - 60px);
    top: calc(50% - 60px);
    text-shadow: 0px 0px 3px white;
    color: #404455;
}
.letter:nth-child(1) {
    -webkit-animation: fade 4s infinite 200ms;
    animation: fade 4s infinite 200ms;
}
.letter:nth-child(2) {
    -webkit-animation: fade 4s infinite 400ms;
    animation: fade 4s infinite 400ms;
}
.letter:nth-child(3) {
    -webkit-animation: fade 4s infinite 600ms;
    animation: fade 4s infinite 600ms;
}
.letter:nth-child(4) {
    -webkit-animation: fade 4s infinite 800ms;
    animation: fade 4s infinite 800ms;
}
.letter:nth-child(5) {
    -webkit-animation: fade 4s infinite 1000ms;
    animation: fade 4s infinite 1000ms;
}
.letter:nth-child(6) {
    -webkit-animation: fade 4s infinite 1200ms;
    animation: fade 4s infinite 1200ms;
}
.letter:nth-child(7) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1400ms;
}
.letter:nth-child(8) {
    -webkit-animation: fade 4s infinite 1600ms;
    animation: fade 4s infinite 1600ms;
}
.letter:nth-child(9) {
    -webkit-animation: fade 4s infinite 1800ms;
    animation: fade 4s infinite 1800ms;
}
.letter:nth-child(10) {
    -webkit-animation: fade 4s infinite 2000ms;
    animation: fade 4s infinite 2000ms;
}
.letter:nth-child(11) {
    -webkit-animation: fade 4s infinite 2200ms;
    animation: fade 4s infinite 2200ms;
}
@-webkit-keyframes fade {
50% {
        opacity: 0.02;
    }
}
@keyframes fade {
    50% {
        opacity: 0.02;
    }
}

#preloader-background, #circle-loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit- flex;
    display: -ms- flex;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
        
#preloader-background {
    background: var(--light-bg);
    /* height: calc(100vh - (0px * 2)); */
    height: 100vh;
    overflow: hidden;
}

#circle-loader {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 5px;
    border-top-color: #52f111;
    border-right-color: var(--green);
    border-bottom-color: #d5eaff;
    border-left-color: #d5eaff;
    border-radius: 50%;
    -webkit-animation: spinLoader 2s linear infinite;
    animation: spinLoader 2s linear infinite;
    position: absolute;
    top: 0;
    bottom: 145px;
    left: 0;
    right: 0;
    margin: auto;
}

@-webkit-keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#centre-logo {
    width: 90px;
    height: 95px;
    padding-bottom: 2px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 145px;
    margin: auto;  
}
.animatePageIn {
    position: relative;
    -webkit-animation-name: animatePageIn;
    -webkit-animation-duration: 1s;
    animation-name: animatePageIn;
    animation-duration: 1s;
}
@-webkit-keyframes animatePageIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes animatePageIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}    
/* LOADER */

/* OTHER */